
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:pages="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link type="image/x-icon" href="/favicon.gif" rel="icon">
    <title>Красители (Е-100 - Е-199)</title>
    <meta name="keywords" content="e">
    <meta name="description" content="e">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui-1.7.2.custom.css" type="text/css">

</head>
<body>

<div id="hat">
    <div id="menu">
        <div id="search">
            <form method="get" action="/reagents/search">
                Поиск:
                <input type="text" name="keyword"/><input id="find" type="submit" value="" /><br>
                <input class="radio" type="radio" name="searchType" checked value="reactives" style="margin-left: 52px;"><label>по реактивам</label>
                <input class="radio" type="radio" value="drugs" name="searchType"><label>по лекарствам</label>

            </form>

        </div>

        <a href="/"></a>

    </div>


</div>


<div id="monolite">



    <table id="body" cellpadding=0 cellspacing=0>
        <tr>
            <td id="leftSide">
                <ul id="leftMenu">
                    <li>
                        <a class="opt1" href="/periodic">Таблица Менделеева</a>
                    </li>
                    <li>
                        <a class="opt2" href="/redaktor-formul">Редактор формул</a>
                    </li>
                    <li>
                        <a class="opt3" href="/reagents">Реактивы</a>
                    </li>
                    <li>
                        <a class="opt4" href="/medications">Лекарства</a>
                    </li>
                    <!--	<li>
                        <a class="opt8" href="/companys-catalog">Каталог компаний</a>
                    </li>-->
                    <li>
                        <a class="opt5 hover" href="/supplements">Пищевые добавки Е</a>
                    </li>

                    <li>
                        <a class="opt6" href="/prekursori">Прекурсоры</a>
                    </li>

                    <li>
                        <a class="opt9" href="/companys-catalog/">Каталог компаний</a>
                    </li>


                    <li>
                        <a class="opt7" href="/raznoe">Разное</a>
                    </li>
                </ul>						<div style="margin-top:20px;width:140px;margin-left:23px;">


                <noindex>  <p><a href="http://cosmochim.ru"><img src="/img/400x140r.gif" alt="" width="140" height="400" /></a></p> </noindex>


                <noindex>  <a href="http://russian-chemistry.ru/reagents/1457"><img src="http://bannerovich.ru/makebanner/output/bannerovich_ru_file_4698_140x400(PRJ3284).jpg" title="Баннер сделан в www.bannerovich.ru" border="0" style="margin: 5px; border: 0; padding: 0;" /></a>  </noindex>

                <br>
            </div>
            </td>
            <td id="rightSide" style="background-color: #d03639">


                <div id="rightSideHat">


                    <div class="leftPart" style="width:100%;">
                        <p id="h1">
                            Пищевые добавки Е								</p>
                    </div>



                </div>


                <div id="rightSideBody">

                    <div class="fix"></div>
                    <div id="content">


                        <h1>Красители (Е-100 - Е-199)</h1>
                        <a href="/pishevie-dobavki-e" id="backToBack">Вернуться к выбору раздела</a>
                        Красители — химические соединения, обладающие способностью интенсивно поглощать и преобразовывать энергию электромагнитного излучения в видимой и в ближних ультрафиолетовой и инфракрасной областях спектра и применяемые для придания этой способности другим телам. Само слово «краситель» происхождением своим обязано А. Е. Порай-Кошицу.<br><br>
                        Отличительная особенность красителя — способность пропитывать окрашиваемый материал (например текстиль, бумагу, мех, волосы, кожу, древесину, пищу — пищевой краситель) и давать цвет по всему его объёму.
                        <br><br>
                        <b>* - пищевой краситель</b> входит в список пищевых добавок, запрещенных к применению в пищевой промышленности Российской Федерации.<br>
                        <b>** - пищевой краситель</b> входит в список пищевых добавок, не имеющих разрешения к применению в пищевой промышленности в Российской Федерации.<br>
                        <b># - пищевой краситель</b> не упомянут в документации Российской Федерации, включен в список согласно другому источнику.
                        <br><br>
                        <div class="EGrid">
                            <table width="100%" cellpadding=0 cellspacing=0>
                                <tr>
                                    <td>
                                        <a href="/reagents/2030">Е-100</a>
                                        <a href="/reagents/2031">Е-101</a>
                                        <a href="/reagents/2032">Е-102</a>
                                        <a href="/reagents/2033">Е-103**</a>
                                        <a href="/reagents/2034">Е-104</a>
                                        <a href="/reagents/2035">Е-107**</a>
                                        <a href="/reagents/2036">Е-110</a>
                                        <a href="/reagents/2037">Е-120</a>

                                    </td>
                                    <td>
                                        <a href="/reagents/2038">Е-121</a>
                                        <a href="/reagents/2039">Е-122</a>
                                        <a href="/reagents/2040">Е-123</a>
                                        <a href="/reagents/2041">Е-124</a>
                                        <a href="/reagents/2042">Е-125**</a>
                                        <a href="/reagents/319">Е-127**</a>
                                        <a href="/reagents/2062">Е-128**</a>
                                        <a href="/reagents/2063">Е-129</a>


                                    </td>
                                    <td>
                                        <a href="/reagents/2065">Е-131</a>
                                        <a href="/reagents/2070">Е-132</a>
                                        <a href="/reagents/2074">Е-133</a>
                                        <a href="/reagents/2079">Е-140**</a>
                                        <a href="/reagents/2080">Е-141</a>
                                        <a href="/reagents/2083">Е-142</a>
                                        <a href="/reagents/2087">Е-143</a>
                                        <a href="/reagents/2088">Е-150a</a>
                                    </td>

                                    <td>

                                        <a href="/reagents/2089">Е-150b</a>
                                        <a href="/reagents/2090">Е-150c</a>
                                        <a href="/reagents/2091">Е-150d</a>
                                        <a href="/reagents/2092">Е-151</a>
                                        <a href="/reagents/2106">Е-152</a>
                                        <a href="/reagents/2107">Е-153**</a>
                                        <a href="/reagents/2163">Е-154**</a>
                                        <a href="/reagents/2164">Е-155**</a>

                                    </td>
                                    <td>

                                        <a href="/reagents/2171">Е-160a</a>
                                        <a href="/reagents/2175">Е-160b</a>
                                        <a href="/reagents/2177">Е-160c</a>
                                        <a href="/reagents/2180">Е-160d**</a>
                                        <a href="/reagents/2184">Е-160e</a>
                                        <a href="/reagents/2196">Е-160f**</a>
                                        <a href="/reagents/2255">Е-161a</a>
                                        <a href="/reagents/2256">Е-161b</a>
                                    </td>
                                    <td>

                                        <a href="/reagents/2257">Е-161c</a>
                                        <a href="/reagents/2258">Е-161d</a>
                                        <a href="/reagents/2259">Е-161e</a>
                                        <a href="/reagents/2260">Е-161f</a>
                                        <a href="/reagents/2261">Е-161g</a>
                                        <a href="/reagents/2262">Е-162</a>
                                        <a href="/reagents/2263">Е-163</a>
                                        <a href="/reagents/2264">Е-164</a>
                                    </td>
                                    <td>

                                        <a href="/reagents/2265">Е-166**</a>
                                        <a href="/reagents/1112">Е-170</a>
                                        <a href="/reagents/770">Е-171</a>
                                        <a href="/reagents/880">Е-172</a>
                                        <a href="/reagents/2266">Е-173**</a>
                                        <a href="/reagents/2267">Е-174**</a>
                                        <a href="/reagents/2268">Е-175**</a>
                                        <a href="/reagents/2269">Е-180**</a>
                                    </td>
                                    <td>

                                        <a href="/reagents/406">Е-181</a>
                                        <a href="/reagents/3938">Е-182**</a>
                                    </td>
                                </tr>
                            </table>





                        </div>



                    </div>
                </div>
            </td>
        </tr>

    </table>
</div>
<div id="basement">
    <a href="/" id="baseLogo"></a>
    <div class="emailLink">E-mail для связи:<br><b>info.russian.chemistry@yandex.ru</b></div>
</div>




</body>
</html>