<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:pages="http://www.w3.org/1999/xhtml">
<head>
    <script type="text/javascript" src="path_to/jquery.js"></script>
    <script type="text/javascript" src="path_to/jquery.simplePagination.js"></script>
    <link type="text/css" rel="stylesheet" href="path_to/simplePagination.css"/>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
MainPage





<table>
<tr th:each ="element: ${reagentList}">

    <td th:text="${element.getName()}"></td>
</tr>
</table>

<a  th:if="${page.getPage()} > 10" th:href="@{?page=10}+@{&number=0}" th:text="First">test</a>

<a th:if="${page.getPage()} > 10" th:href="@{?page=}+${page.getPage()-10}+@{&number=}+${page.getPage()-10}"
   th:text="Back">test</a>

<a  th:href="@{?number=}+${page.getPage()-10}+@{&page=}+${page.getPage()}" th:text="${page.getPage()-9}">test</a>
<a  th:href="@{?number=}+${page.getPage()-9}+@{&page=}+${page.getPage()}" th:text="${page.getPage()-8}">test</a>
<a  th:href="@{?number=}+${page.getPage()-8}+@{&page=}+${page.getPage()}" th:text="${page.getPage()-7}">test</a>
<a  th:href="@{?number=}+${page.getPage()-7}+@{&page=}+${page.getPage()}" th:text="${page.getPage()-6}">test</a>
<a  th:href="@{?number=}+${page.getPage()-6}+@{&page=}+${page.getPage()}" th:text="${page.getPage()-5}">test</a>
<a  th:href="@{?number=}+${page.getPage()-5}+@{&page=}+${page.getPage()}" th:text="${page.getPage()-4}">test</a>
<a  th:href="@{?number=}+${page.getPage()-4}+@{&page=}+${page.getPage()}" th:text="${page.getPage()-3}">test</a>
<a  th:href="@{?number=}+${page.getPage()-3}+@{&page=}+${page.getPage()}" th:text="${page.getPage()-2}">test</a>
<a  th:href="@{?number=}+${page.getPage()-2}+@{&page=}+${page.getPage()}" th:text="${page.getPage()-1}">test</a>
<a  th:href="@{?number=}+${page.getPage()-1}+@{&page=}+${page.getPage()}" th:text="${page.getPage()}">test</a>
<a th:if="${page.getPage()} < ${page.getPagesize()-2}" th:href="@{?page=}+${page.getPage()+10}+@{&number=}+${page.getPage()+10}"
   th:text="Next">test</a>
<a  th:if="${page.getPage()} < ${page.getPagesize()}" th:href="@{?page=}+${page.getPagesize()}+@{&number=}+${page.getPagesize()}" th:text="Last">test</a>










</body>
</html>