
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/maxstyle.css" type="text/css">
</head>
<body style="height: 100%">

<div class="container-fluid rounded" style="background: inherit;height: 100%">

    <!--Шапка -->


<div class="row " style="height: 10%; background-color: #0b9600">
        <div class="container"style="height: 100%" >
        <div class="hidden-xs hidden-sm col-md-1 col-lg-1" style=" height: 100%" >hatright</div>

            <div style="background:url(/img/hatTexture.gif);height: 100%"
                 class="container-fluid col-xs-12 col-sm-12  col-md-10 main col-lg-10 ">
        <div class="container-fluid hidden-xs hidden-sm col-md-6 main col-lg-6  " style="height: 100%; background:
        inherit" >

            <img src="/img/logo.png" >
         <b>  <p style="color: white; font: Tahoma">info@russianchemistry.ru</p></b>



        </div>

        <!-- Правая сторона поиск -->
            <div class="container-fluid col-xs-12 col-sm-12  col-md-6 main col-lg-6  " style="height: 100%;
            background: inherit;" >

            <form method="get" action="/reagents/search"  >
                <div class="search" style=":height: 100%; text-align: right">
                Поиск:
                    <div class="input-group" >


                            <input  type="text" name="keyword"/>
                            <span class="input-group-btn">
                                    <input  class="find" type="submit" value=""/><br>
                              </span>

                        </div>

                </div>

                <div class="searchRL" style="text-align: right">
                <input id="radioName" type="radio" name="searchType" checked value="name"  >
                <label for="radioName">по названию</label>
                <input  type="radio" value="cas" name="searchType" >
                <label>по CAS</label>
                </div>

            </form>


        </div>

        <!-- Конец поиска -->

            </div>

        <div class="hidden-xs hidden-sm col-md-1 col-lg-1" style=" height: 100%" >hatleft</div>
        </div>
</div>


    <!-- конец Шапки -->

    <br>
    <!-- тело -->

    <div class="row " style="height: 80%">
        <div class="container "style="height: 100%; background:url(/img/bg.gif);" >
            <div class="hidden-xs hidden-sm col-md-1 col-lg-1" style="height: 100%; background: inherit"  >1111</div>

            <!-- Menu -->
            <div class="container-fluid col-xs-12 col-sm-12  col-md-2 main col-lg-2  "
                 style="height: 100%; background-color: rgba(48,48,48,0.46) ;border: 10px solid inherit;
                  border-top-left-radius: 10px;" >

                <div class="row slim " id="leftSide" >
                    <ul id="leftMenu" class="nav">


                        
                        <li th:each ="element: ${menu}">

                            <span th:utext="${element}" > </span>

                        </li>


                        </li>
                    </ul>
                </div>



            </div>
            <!-- end menu -->

            <div class="container-fluid col-xs-12 col-sm-12  col-md-8 main col-lg-8   " style="background-color:
            orange; height: 100%;border: 10px solid inherit;  border-top-right-radius: 10px;" >
                Content</div>

            <div class="hidden-xs hidden-sm col-md-1 col-lg-1" style=" height: 100%" >1111</div>
        </div>
    </div>

    <!-- конец тела -->


    <!-- Footer -->

    <div class="row " style="height: 10%">
        <div class="container"style="height: 100%" >
            <div class="hidden-xs hidden-sm col-md-1 col-lg-1" style="background-color: black; height: 100%" >1111</div>

            <div class="container-fluid col-xs-12 col-sm-12  col-md-10 main col-lg-10  " style="background-color: red;
            height: 100%" >Footer</div>

            <div class="hidden-xs hidden-sm col-md-1 col-lg-1" style="background-color: black; height: 100%" >1111</div>
        </div>
    </div>
    <!-- конец Footer -->
</div>

</body>
</html>