<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" , initial-scale="1.0">

    <link type="image/x-icon" href="/favicon.gif" rel="icon">
    <title th:title="${title}" th:text="${title}">Реактивы</title>


    <link rel="stylesheet" href="/css/jquery-ui-1.7.2.custom.css" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/maxstyle.css" type="text/css">


</head>
<body>

<div class="container-fluid rounded inheritBack">

    <!--Шапка -->
    <div class="row  mxHat">
        <div class="container">

            <div class="container-fluid col-xs-12 col-sm-12  col-md-10 main col-lg-12 ">
                <div class="container-fluid hidden-xs hidden-sm col-md-6 main col-lg-5 inheritBack row">
                    <div class="row">
                    <a href="http://russian-chemistry.ru"> <img src="/img/logo.png"></a>
                    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
                        <div class="inline">
                            <form class="form-group" th:action="@{/logout}" method="post">
                                <a href="/user/profile">
                                <span class="glyphicon glyphicon-user" th:text="${#authentication.principal.name}"
                                      style="color: white; margin-right: 10px;">Name
                                </span></a>
                                <button type="submit" value="LOGOUT" class="btn btn-default btn-sm"><span
                                        class="glyphicon glyphicon-log-out"
                                        aria-hidden="true"></span>Выход
                                </button>
                            </form>
                        </div>
                    </th:block>

                        <th:block th:if="${!#authorization.expression('isAuthenticated()')}" >

                            <div class="inline input-group " style="text-align: left; padding-bottom: 7px">
                                <form th:action="@{/login}" method="post">
                                    <input type="text" class="form-control" placeholder="Логин" name='username'
                                           style="width: 100px;height: 26px; margin-right: 10px; background-color: whitesmoke">

                                    <input type="password" class="form-control" placeholder="Пароль" name='password'
                                           style="width: 100px;height: 26px; margin-right: 10px;background-color: whitesmoke">


                                    <button type="submit" class="btn btn-default btn-sm" style="height: 27px;
                                    background-color:whitesmoke;">
                                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>  Вход
                                    </button>
                                </form>
                            </div>
                        </th:block>
                    </div>
                </div>

                <!-- Правая сторона поиск -->
                <div class="container-fluid col-xs-12 col-sm-12  col-md-6 main col-lg-6 inheritBack">

                    <!--<form method="get" action="/reagents/search"  >-->
                    <div class="search mxRight">
                        Поиск:
                        <div class="input-group">
                            <input type="text" name="keyword" th:value="${search}" id="searchbox"
                                   onchange="filterSearch()"/>
                            <span class="input-group-btn">
                                    <input class="find" type="button" value="" onclick="filterSearch()"/>
                                <br>
                                </span>

                        </div>
                    </div>

                    <div class="searchRL mxRight">

                        <th:block th:if="${type}=='name' OR ${type} == null">
                            <input id="radioName" type="radio" name="searchType" checked value="name">
                            <label for="radioName">по названию</label>
                            <input type="radio" value="cas" id="cas" name="searchType">
                            <label for="cas">по CAS</label>
                        </th:block>

                        <th:block th:if="${type}=='cas'">
                            <input id="radioName" type="radio" name="searchType" value="name">
                            <label for="radioName">по названию</label>
                            <input type="radio" value="cas" id="cas" checked name="searchType">
                            <label for="cas">по CAS</label>
                        </th:block>

                        <th:block th:if="${type}=='alph'">
                            <input id="radioName" type="radio" name="searchType" value="name">
                            <label for="radioName">по названию</label>
                            <input type="radio" value="cas" id="cas" name="searchType">
                            <label for="cas">по CAS</label>
                        </th:block>

                    </div>

                    <!--</form>-->
                </div>

                <!-- Конец поиска -->

            </div>
        </div>
    </div>


    <!-- конец Шапки -->

    <!-- тело -->

    <div class="row mxContentBack">
        <br>
        <div class="container ">

            <!-- Menu -->
            <div class="container-fluid col-xs-12 col-sm-12  col-md-2 main col-lg-2 mxMenu">

                <div class="row slim " id="leftSide">
                    <ul id="leftMenu" class="nav">

                        <li th:each="element: ${menu}">

                            <span th:utext="${element}"> </span>

                        </li>

                        <div class="col-xs-12 col-sm-12  hidden-md hidden-lg">
                            <!-- Yandex.RTB R-A-252178-1 -->
                            <div id="yandex_rtb_R-A-252178-1"></div>
                            <script type="text/javascript">
                                (function (w, d, n, s, t) {
                                    w[n] = w[n] || [];
                                    w[n].push(function () {
                                        Ya.Context.AdvManager.render({
                                            blockId: "R-A-252178-1",
                                            renderTo: "yandex_rtb_R-A-252178-1",
                                            async: true
                                        });
                                    });
                                    t = d.getElementsByTagName("script")[0];
                                    s = d.createElement("script");
                                    s.type = "text/javascript";
                                    s.src = "//an.yandex.ru/system/context.js";
                                    s.async = true;
                                    t.parentNode.insertBefore(s, t);
                                })(this, this.document, "yandexContextAsyncCallbacks");
                            </script>

                        </div>


                        <div class=" container-fluid hidden-xs hidden-sm">

                            <!-- Yandex.RTB R-A-252178-2 -->
                            <div id="yandex_rtb_R-A-252178-2"></div>
                            <script type="text/javascript">
                                (function (w, d, n, s, t) {
                                    w[n] = w[n] || [];
                                    w[n].push(function () {
                                        Ya.Context.AdvManager.render({
                                            blockId: "R-A-252178-2",
                                            renderTo: "yandex_rtb_R-A-252178-2",
                                            async: true
                                        });
                                    });
                                    t = d.getElementsByTagName("script")[0];
                                    s = d.createElement("script");
                                    s.type = "text/javascript";
                                    s.src = "//an.yandex.ru/system/context.js";
                                    s.async = true;
                                    t.parentNode.insertBefore(s, t);
                                })(this, this.document, "yandexContextAsyncCallbacks");
                            </script>
                        </div>


                    </ul>


                </div>


            </div>
            <!-- end menu -->

            <div class="container-fluid col-xs-12 col-sm-12  col-md-9 main col-lg-9 mxContent">

                <div class="row">

                    <div id="rightSide" th:style="${color}">


                        <div id="rightSideHat">
                            <div class="row">
                                <div class="container-fluid col-xs-12 col-sm-12  col-md-5 main col-lg-5">
                                    <div class="leftPart">
                                        <p id="h1" th:text="${title}">Реактивы</p>
                                    </div>
                                </div>

                                <div class="container-fluid col-xs-12 col-sm-12  col-md-5 main col-lg-7">
                                    <div class="rightPart " th:style="${color}">
                                        <div class="letter">
                                            <p id="letter">?</p>
                                        </div>
                                        <div id="letterSelect"></div>
                                        <div class="letterBlock">
                                            <div id="letterList" th:style="${color}">
                                                <div class="alphabet cyr" th:style="${color}">
                                                    <a onclick="searchBy('а')">а</a>
                                                    <a onclick="searchBy('б')">б</a>
                                                    <a onclick="searchBy('в')">в</a>
                                                    <a onclick="searchBy('г')">г</a>
                                                    <a onclick="searchBy('д')">д</a>
                                                    <a onclick="searchBy('е')">е</a>
                                                    <a onclick="searchBy('ж')">ж</a>
                                                    <a onclick="searchBy('з')">з</a>
                                                    <a onclick="searchBy('и')">и</a>
                                                    <a onclick="searchBy('к')">к</a>
                                                    <a onclick="searchBy('л')">л</a>
                                                    <a onclick="searchBy('м')">м</a>
                                                    <a onclick="searchBy('н')">н</a>
                                                    <a onclick="searchBy('о')">о</a>
                                                    <a onclick="searchBy('п')">п</a>
                                                    <a onclick="searchBy('р')">р</a>
                                                    <a onclick="searchBy('с')">с</a>
                                                    <a onclick="searchBy('т')">т</a>
                                                    <a onclick="searchBy('у')">у</a>
                                                    <a onclick="searchBy('ф')">ф</a>
                                                    <a onclick="searchBy('х')">х</a>
                                                    <a onclick="searchBy('ц')">ц</a>
                                                    <a onclick="searchBy('ч')">ч</a>
                                                    <a onclick="searchBy('ш')">ш</a>
                                                    <a onclick="searchBy('щ')">щ</a>
                                                    <a onclick="searchBy('э')">э</a>
                                                    <a onclick="searchBy('я')">я</a>
                                                </div>
                                            </div>
                                            <div id="chooseLetter">Поиск по алфавиту</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="container-fluid col-xs-12 col-sm-12  col-md-12 main col-lg-12">
                                <div id="rightSideBody" style="min-height: 700px">
                                    <div class="">
                                        <div class=" container-fluid text-primary " style="text-align: center;font:13px
                                Tahoma;">

                                        </div>
                                    </div>
                                    <div class="pageScroll">
                                        <a href="#" class="slider"></a>
                                    </div>


                                    <div class="fix"></div>
                                    <div id="content">

                                        <ul class="searchList">


                                            <table id="reagentTable" th:fragment="reagentTable" style="width: 100%">


                                                <thead>
                                                <tr>
                                                    <td>
                                                        <div class="qtty">всего <b
                                                                th:text="${page?.getTotalElements()}"></b> элементов
                                                        </div>

                                                    </td>
                                                </tr>
                                                <tr class="tableHead">
                                                    <td>
                                                        <th:block th:if="${page != null}">
                                                            <div class="row">
                                                                <div class="text-center">
                                                                    <div class='pagination pagination-centered'
                                                                         style="margin-bottom: 5px;padding: 0px">
                                                                        <ul class="pagination"
                                                                            style="margin: 0px;padding: 0px;">
                                                                            <li th:class="${currentIndex == 1}? 'disabled' : ''">
                                                                                <span th:if='${currentIndex == 1}'>Начало</span>
                                                                                <a style="cursor: pointer" th:if='${currentIndex != 1}'
                                                                                   th:onclick="'filterSearch('+${1}+')'">Начало</a>
                                                                            </li>
                                                                            <li th:class="${currentIndex != 1}? '' : 'disabled'">
                                                                                <span th:if='${currentIndex == 1}'>«</span>
                                                                                <a style="cursor: pointer" th:if='${currentIndex != 1}'
                                                                                   th:onclick="'filterSearch('+${currentIndex - 1}+')' "
                                                                                   title='Назад'>«</a>
                                                                            </li>

                                                                            <li th:if="${beginIndex != null}"
                                                                                th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
                                                                                th:class="${item == currentIndex ? 'active' : '' }">
                                                                                <span th:if='${item == currentIndex}'
                                                                                      th:text='${item}' style="cursor: pointer">1
                                                                                </span>
                                                                                <a style="cursor: pointer"
                                                                                   th:if='${item != currentIndex}'
                                                                                   th:onclick="'filterSearch('+${item}+')' ">
                                                                                    <span th:text='${item}'>1</span>
                                                                                </a>
                                                                            </li>

                                                                            <th:block th:if="${totalPageCount == 0}">
                                                                                <li class="disabled">
                                                                                    <span>»</span>
                                                                                </li>
                                                                            </th:block>

                                                                            <th:block th:if="${totalPageCount > 0}">
                                                                                <li th:class="${currentIndex != totalPageCount }? '' : 'disabled'">
                                                                                    <span th:if='${currentIndex == totalPageCount}'>»</span>
                                                                                    <a style="cursor: pointer"
                                                                                            th:if='${currentIndex != totalPageCount}'
                                                                                       th:onclick="'filterSearch('+${currentIndex+1}+')' "
                                                                                       title='Вперед'>»</a>
                                                                                </li>
                                                                            </th:block>


                                                                            <th:block th:if="${totalPageCount > 0}">
                                                                                <li th:class="${currentIndex == totalPageCount}? 'disabled' : ''">
                                                                                    <span th:if='${currentIndex == totalPageCount}'>Конец</span>
                                                                                    <a style="cursor: pointer"
                                                                                            th:if='${currentIndex != totalPageCount}'
                                                                                       th:onclick="'filterSearch('+${totalPageCount}+')'">Конец</a>
                                                                                </li>
                                                                            </th:block>

                                                                            <th:block th:if="${totalPageCount == 0}">
                                                                                <li class="disabled">
                                                                                    <span>Конец</span>
                                                                                </li>
                                                                            </th:block>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th:block>
                                                    </td>

                                                </tr>
                                                </thead>

                                                <tr th:each="element: ${reagentList}">


                                                    <td>

                                                        <a th:href="@{/reagents/} + ${element.getId()}"
                                                           th:text="${element?.getName()}" style="color: black"></a>
                                                        <p
                                                                th:text="${element?.getSinonim()}+ ${element?.getEngName()}+${element?.getName()}"
                                                           style="color: grey"></p>
                                                    </td>
                                                </tr>


                                                <tfoot>
                                                <tr class="tableHead">
                                                    <td>
                                                        <th:block th:if="${page != null}">
                                                            <div class="row">
                                                                <div class="text-center">
                                                                    <div class='pagination pagination-centered'
                                                                         style="margin-bottom: 5px;padding: 0px">
                                                                        <ul class="pagination"
                                                                            style="margin: 0px;padding: 0px;">
                                                                            <li th:class="${currentIndex == 1}? 'disabled' : ''">
                                                                                <span th:if='${currentIndex == 1}'>Начало</span>
                                                                                <a  style="cursor: pointer"
                                                                                    th:if='${currentIndex != 1}'
                                                                                   th:onclick="'filterSearch('+${1}+')'">Начало</a>
                                                                            </li>
                                                                            <li th:class="${currentIndex != 1}? '' : 'disabled'">
                                                                                <span th:if='${currentIndex == 1}'>«</span>
                                                                                <a style="cursor: pointer" th:if='${currentIndex != 1}'
                                                                                   th:onclick="'filterSearch('+${currentIndex - 1}+')' "
                                                                                   title='Назад'>«</a>
                                                                            </li>

                                                                            <li th:if="${beginIndex != null}"
                                                                                th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
                                                                                th:class="${item == currentIndex ? 'active' : '' }">
                                                                                <span th:if='${item == currentIndex}'
                                                                                      th:text='${item}'>1</span>
                                                                                <a style="cursor: pointer"
                                                                                   th:if='${item != currentIndex}'
                                                                                   th:onclick="'filterSearch('+${item}+')' ">
                                                                                    <span th:text='${item}'>1</span>
                                                                                </a>
                                                                            </li>

                                                                            <th:block th:if="${totalPageCount == 0}">
                                                                                <li class="disabled">
                                                                                    <span>»</span>
                                                                                </li>
                                                                            </th:block>

                                                                            <th:block th:if="${totalPageCount > 0}">
                                                                                <li th:class="${currentIndex != totalPageCount }? '' : 'disabled'">
                                                                                    <span th:if='${currentIndex == totalPageCount}'>»</span>
                                                                                    <a style="cursor: pointer"
                                                                                            th:if='${currentIndex != totalPageCount}'
                                                                                       th:onclick="'filterSearch('+${currentIndex+1}+')' "
                                                                                       title='Вперед'>»</a>
                                                                                </li>
                                                                            </th:block>


                                                                            <th:block th:if="${totalPageCount > 0}">
                                                                                <li th:class="${currentIndex == totalPageCount}? 'disabled' : ''">
                                                                                    <span th:if='${currentIndex == totalPageCount}'>Конец</span>
                                                                                    <a style="cursor: pointer"
                                                                                            th:if='${currentIndex != totalPageCount}'
                                                                                       th:onclick="'filterSearch('+${totalPageCount}+')'">Конец</a>
                                                                                </li>
                                                                            </th:block>

                                                                            <th:block th:if="${totalPageCount == 0}">
                                                                                <li class="disabled">
                                                                                    <span>Конец</span>
                                                                                </li>
                                                                            </th:block>

                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </th:block>
                                                    </td>

                                                </tr>
                                                </tfoot>
                                            </table>

                                        </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>
</div>

<!-- конец тела -->


</div>

<!-- Footer -->

<div class="navbar-fixed-bottom row-fluid">
    <div id="basement">
        <a href="/" id="baseLogo"></a>
        <div class="emailLink">E-mail для связи:<br><b>info@russian-chemistry.ru</b></div>
    </div>
</div>
<!-- конец Footer -->


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function () {
            try {
                w.yaCounter46046490 = new Ya.Metrika({
                    id: 46046490,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) {
            }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div><img src="https://mc.yandex.ru/watch/46046490" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->
<script src="/js/paggination.js"></script>

</body>
</html>