
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

    <meta charset="UTF-8">

    <link type="image/x-icon" href="/favicon.gif" rel="icon">
    <title>Реактивы -  СЕРЕБРО </title>
    <meta name="keywords" content=" СЕРЕБРО ; Silver , metal, powder , Argentum ">
    <meta name="description" content=" СЕРЕБРО ; Silver , metal, powder , Argentum ">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui-1.7.2.custom.css" type="text/css">


</head>
<body>
<div id="hat">
    <div id="menu">
        <div id="search">
            <form method="get" action="/reagents_search">
                Поиск:
                <input type="text" name="keyword"/><input id="find" type="submit" value="" /><br>
                <input class="radio" type="radio" name="searchType" checked value="reactives" style="margin-left: 52px;"><label>по реактивам</label>
                <input class="radio" type="radio" value="drugs" name="searchType"><label>по лекарствам</label>
            </form>
        </div>

    </div>


</div>



<body>
<div id="monolite">
    <table id="body" cellpadding=0 cellspacing=0>
        <tr>
            <td id="leftSide">
                <ul id="leftMenu">
                    <li>
                        <a class="opt1" href="/periodic_table">Таблица Менделеева</a>
                    </li>
                    <li>
                        <a class="opt2" href="/redaktor-formul">Редактор формул</a>
                    </li>
                    <li>
                        <a class="opt3 hover" href="/reagents">Реактивы</a>
                    </li>
                    <li>
                        <a class="opt4" href="/medications">Лекарства</a>
                    </li>
                    <!--	<li>
                        <a class="opt8" href="/companys-catalog">Каталог компаний</a>
                    </li>-->
                    <li>
                        <a class="opt5" href="/pishevie-dobavki-e">Пищевые добавки Е</a>
                    </li>

                    <li>
                        <a class="opt6" href="/prekursori">Прекурсоры</a>
                    </li>

                    <li>
                        <a class="opt9" href="/companys-catalog/">Каталог компаний</a>
                    </li>


                    <li>
                        <a class="opt7" href="/raznoe">Разное</a>
                    </li>
                </ul>						<div style="margin-top:20px;width:140px;margin-left:23px;">

                <noindex>  <p><a href="http://cosmochim.ru"><img src="/img/400x140r.gif" alt="" width="140" height="400" /></a></p>  </noindex>


                <br>

            </div>
            </td>
            <td id="rightSide" style="background-color: #EC8B00">
                <div id="rightSideHat">
                    <div class="leftPart">
                        <p id="h1">Реактивы</p>
                    </div>
                    <div class="rightPart">
                        <div class="letter">
                            <p>?</p>
                        </div>
                        <div id="letterSelect"></div>
                        <div class="letterBlock">
                            <div id="letterList">
                                <div class="alphabet cyr">
                                    <a href="/reagents_letters_search?letter=а">а</a>
                                    <a href="/reagents_letters_search?letter=б">б</a>
                                    <a href="/reagents_letters_search?letter=в">в</a>
                                    <a href="/reagents_letters_search?letter=г">г</a>
                                    <a href="/reagents_letters_search?letter=д">д</a>
                                    <a href="/reagents_letters_search?letter=е">е</a>
                                    <a href="/reagents_letters_search?letter=ж">ж</a>
                                    <a href="/reagents_letters_search?letter=з">з</a>
                                    <a href="/reagents_letters_search?letter=и">и</a>
                                    <a href="/reagents_letters_search?letter=к">к</a>
                                    <a href="/reagents_letters_search?letter=л">л</a>
                                    <a href="/reagents_letters_search?letter=м">м</a>
                                    <a href="/reagents_letters_search?letter=н">н</a>
                                    <a href="/reagents_letters_search?letter=о">о</a>
                                    <a href="/reagents_letters_search?letter=п">п</a>
                                    <a href="/reagents_letters_search?letter=р">р</a>
                                    <a href="/reagents_letters_search?letter=с">с</a>
                                    <a href="/reagents_letters_search?letter=т">т</a>
                                    <a href="/reagents_letters_search?letter=у">у</a>
                                    <a href="/reagents_letters_search?letter=ф">ф</a>
                                    <a href="/reagents_letters_search?letter=х">х</a>
                                    <a href="/reagents_letters_search?letter=ц">ц</a>
                                    <a href="/reagents_letters_search?letter=ч">ч</a>
                                    <a href="/reagents_letters_search?letter=ш">ш</a>
                                    <a href="/reagents_letters_search?letter=щ">щ</a>
                                    <a href="/reagents_letters_search?letter=э">э</a>
                                    <a href="/reagents_letters_search?letter=я">я</a>
                                </div>
                            </div>
                            <div id="chooseLetter">Поиск по алфавиту</div>
                        </div>
                    </div>						</div>
                <div id="rightSideBody">


                    <div id="content">

                        <h1> СЕРЕБРО </h1>

                        <h3>Silver , metal, powder , Argentum </h3>

                        <div class="formula">
                            <img src="/upload/media/56023f06602ed1a9dd65367f1535927a.gif" alt=" СЕРЕБРО , ">
                        </div>

                        <div id="adShop">
                            <b>Где купить:</b> <p> </p><br> <p>Космохим: тел.(812) 383-52-85 </p>
                            <p>email: sale@cosmochim.ru </p>
                            <p> </p>



                        </div>


                        <table id="pagePanel" cellpadding=0 cellspacing=0>
                            <tr>
                                <td class="parameters">
                                    <table cellspacing=0 cellpadding=0>
                                        <tr>
                                            <td>CAS номер:</td>
                                            <td><b>7440-22-4 </b></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Литературная ссылка:
                                            </td>
                                            <td>
                                                <b title='ссылка в "Указатель препаративных синтезов неорганических, комплексных и элементорганических соединений" Лернер И.М'>
                                                    Р6, 475                        </b>
                                                <b title='ссылка в "указателе препаративных синтезов органических соединений" Лернер И.М'>
                                                </b>
                                            </td>
                                        </tr>
                                    </table>


                                </td>
                            </tr>

                        </table>
                        <table id="features" cellpadding=0 cellspacing=0>
                            <tr>
                                <th style="width:18%;">Молекулярный вес:</th>
                                <th style="width:10%;">t<sub>пл</sub> °C:</th>
                                <th style="width:10%;">t<sub>кип</sub> °C:</th>
                                <th style="width:10%;">d<sup>20</sup><sub>4</sub></th>
                                <th style="width:25%;">Растворимость в воде, гр/100мл, при 20°C:</th>
                                <th style="width:28%;">Растворимость в других растворителях</th>
                            </tr>
                            <tr>
                                <td>
                                    107,8682 а. е. м. (г/моль)		</td>
                                <td>
                                    <p>961</p>
                                </td>
                                <td>
                                    <p>2212</p>
                                </td>
                                <td>
                                    <p> - </p>
                                </td>
                                <td>
                                    <p>не растворим</p>
                                </td>
                                <td>
                                    <p>
                                        HNO3,  горячая H2SO4, растворим в цианидах щелочных металлов                        </p>
                                </td>
                            </tr>
                        </table>

                        <br>
                        <h4>Ссылка на <a href="/himreaktivi">химреактив</a>:</h4> <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
                        <div class="yashare-auto-init" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir"></div>


                        <h4>Общая характеристика:</h4>


                        <p oncopy="return false">
                        <h2>Описание</h2>
                        <p>Серебро &mdash; элемент побочной подгруппы первой группы, пятого периода <a href="/periodic_table">периодической системы химических элементов Д. И. Менделеева</a>, с атомным номером 47. Обозначается символом Ag (лат. Argentum).</p>
                        <p>Простое вещество серебро (CAS-номер: 7440-22-4) &mdash; ковкий, пластичный благородный металл серебристо-белого цвета. Кристаллическая решётка &mdash; гранецентрированная кубическая. Температура плавления &mdash; 960 &deg;C, плотность &mdash; 10,5 г/см&sup3;.</p>
                        <h2>Физические свойства</h2>
                        <p>Чистое серебро &mdash; довольно тяжёлый (легче свинца, но тяжелее меди), необычайно пластичный серебристо-белый металл (коэффициент отражения  света близок к 100 %). Тонкая серебряная фольга в проходящем свете имеет фиолетовый цвет. C течением времени металл тускнеет, реагируя с содержащимися в воздухе следами сероводорода и образуя налёт сульфида. Обладает высокой теплопроводностью. При комнатной температуре имеет самую высокую электропроводность  среди всех известных металлов.</p>
                        <h2>Химические свойства</h2>
                        <p>Серебро, будучи благородным металлом, отличается относительно низкой реакционной способностью, оно не растворяется в соляной и разбавленной серной кислотах. Однако в окислительной среде (в азотной, горячей концентрированной серной кислоте, а также в соляной кислоте в присутствии свободного кислорода) серебро растворяется:</p>
                        <p><b>  Ag + 2HNO3(конц.) = AgNO3 + NO2&uarr; + H2O</b></p>
                        <p>Растворяется оно и в хлорном железе, что применяется для травления:</p>
                        <p><b>    Ag + FeCl3 = AgCl + FeCl2</b></p>
                        <p>Серебро также легко растворяется в ртути, образуя амальгаму (жидкий сплав ртути и серебра).</p>
                        <p>Серебро не окисляется кислородом даже при высоких температурах, однако в виде тонких плёнок может быть окислено кислородной плазмой или озоном при облучении ультрафиолетом. Во влажном воздухе в присутствии даже малейших следов двухвалентной серы (сероводород, тиосульфаты, резина) образуется налёт малорастворимого сульфида серебра, обуславливающего потемнение серебряных изделий:</p>
                        <p><b>4Ag + 2H2S + O2 = 2Ag2S + 2H2O</b></p>
                        <p>Свободные галогены легко окисляют серебро до галогенидов:</p>
                        <p><b>    2Ag + I2 = 2AgI</b></p>
                        <p>Однако на свету эта реакция обращается, и галогениды серебра (кроме фторида) постепенно разлагаются.</p>
                        <p>При нагревании с серой серебро даёт сульфид.</p>
                        <p>Наиболее устойчивой степенью окисления серебра в соединениях является +1. В присутствии аммиака соединения серебра (I) дают легко растворимый в воде комплекс [Ag(NH3)2]+. Серебро образует комплексы так же с цианидами, тиосульфатами. Комплексообразование используют для растворения малорастворимых соединений серебра, для извлечения серебра из руд. Более высокие степени окисления (+2, +3) серебро проявляет только в соединении с кислородом (AgO, Ag2O3) и фтором (AgF2, AgF3), такие соединения гораздо менее устойчивы, чем соединения серебра (I).</p>
                        <p>Соли серебра (I), за редким исключением (нитрат, перхлорат, фторид), нерастворимы в воде, что часто используется для определения ионов галогенов (хлора, брома, йода) в водном растворе.</p>
                        <p><noindex><small> </small><span style="color: rgb(192, 192, 192);"><small>Источник: ru.wikipedia.org </small></span></noindex></p></p>






                        <div id="links">
                            <p class="copy">Данная страница сайта <a href="/">Российская Химия</a> посвящена описанию вещества <strong> СЕРЕБРО </strong>. Частичное или полное копирование запрещено.</p>
                        </div>



                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="basement">
    <a href="/" id="baseLogo"></a>
    <div class="emailLink">E-mail для связи:<br><b>info.russian.chemistry@yandex.ru</b></div>
    <div style='padding:0 0 10px 10px; opacity:0.5; filter:alpha(opacity=50);float:right;'>

    </div>

</div>
</body>
</html>