
<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">

    <link type="image/x-icon" href="/favicon.gif" rel="icon">
    <title th:title="${title}">Реактивы</title>



    <link rel="stylesheet" href="/css/jquery-ui-1.7.2.custom.css" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/maxstyle.css" type="text/css">


</head>
<body >

<div class="container-fluid rounded inheritBack">

    <!--Шапка -->
    <div class="row  mxHat" >
        <div class="container" >

            <div class="container-fluid col-xs-12 col-sm-12  col-md-10 main col-lg-12 ">
                <div class="container-fluid hidden-xs hidden-sm col-md-6 main col-lg-5 inheritBack "  >

                    <a href="http://russian-chemistry.ru"> <img src="/img/logo.png" ></a>
                    <b> <p class="mxLogo">info@russian-chemistry.ru</p></b>

                </div>

                <!-- Правая сторона поиск -->
                <div class="container-fluid col-xs-12 col-sm-12  col-md-6 main col-lg-6 inheritBack">

                    <form method="get" action="/reagents/search"  >
                        <div class="search mxRight">
                            Поиск:
                            <div class="input-group" >
                                <input  type="text" name="keyword" id="searchbox"/>
                                <span class="input-group-btn">
                                    <input  class="find" type="submit" value=""/>
                                <br>
                            </span>
                            </div>
                        </div>

                        <div class="searchRL mxRight">
                            <input id="radioName" type="radio" name="searchType" checked value="name"  >
                            <label for="radioName">по названию</label>
                            <input  type="radio" value="cas" name="searchType" >
                            <label>по CAS</label>
                        </div>

                    </form>
                </div>

                <!-- Конец поиска -->

            </div>
        </div>
    </div>


    <!-- конец Шапки -->

    <!-- тело -->

    <div class="row mxContentBack">
        <br>
        <div class="container " >

            <!-- Menu -->
            <div class="container-fluid col-xs-12 col-sm-12  col-md-2 main col-lg-2 mxMenu" >

                <div class="row slim " id="leftSide" >
                    <ul id="leftMenu" class="nav">

                        <li th:each ="element: ${menu}">

                            <span th:utext="${element}" > </span>

                        </li>

                        <div class="col-xs-12 col-sm-12  hidden-md hidden-lg">
                            <!-- Yandex.RTB R-A-252178-1 -->
                            <div id="yandex_rtb_R-A-252178-1" ></div>
                            <script type="text/javascript">
                                (function (w, d, n, s, t) {
                                    w[n] = w[n] || [];
                                    w[n].push(function () {
                                        Ya.Context.AdvManager.render({
                                            blockId: "R-A-252178-1",
                                            renderTo: "yandex_rtb_R-A-252178-1",
                                            async: true
                                        });
                                    });
                                    t = d.getElementsByTagName("script")[0];
                                    s = d.createElement("script");
                                    s.type = "text/javascript";
                                    s.src = "//an.yandex.ru/system/context.js";
                                    s.async = true;
                                    t.parentNode.insertBefore(s, t);
                                })(this, this.document, "yandexContextAsyncCallbacks");
                            </script>

                        </div>


                        <div class=" container-fluid hidden-xs hidden-sm" >

                            <!-- Yandex.RTB R-A-252178-2 -->
                            <div id="yandex_rtb_R-A-252178-2" > </div>
                            <script type="text/javascript">
                                (function(w, d, n, s, t) {
                                    w[n] = w[n] || [];
                                    w[n].push(function() {
                                        Ya.Context.AdvManager.render({
                                            blockId: "R-A-252178-2",
                                            renderTo: "yandex_rtb_R-A-252178-2",
                                            async: true
                                        });
                                    });
                                    t = d.getElementsByTagName("script")[0];
                                    s = d.createElement("script");
                                    s.type = "text/javascript";
                                    s.src = "//an.yandex.ru/system/context.js";
                                    s.async = true;
                                    t.parentNode.insertBefore(s, t);
                                })(this, this.document, "yandexContextAsyncCallbacks");
                            </script>
                        </div>


                    </ul>


            </div>

                <div clas="container-fluid">

                </div>

            </div>
            <!-- end menu -->

            <div class="container-fluid col-xs-12 col-sm-12  col-md-9 main col-lg-9 mxContent"  >

                <div class="row" >

                    <div id="rightSide"   th:style="${color}"  >


                        <div id="rightSideHat">
                            <div class="row">
                                <div class="container-fluid col-xs-12 col-sm-12  col-md-5 main col-lg-5">
                                    <div class="leftPart">
                                        <p id="h1" th:text="${title}">Реактивы</p>
                                    </div>
                                </div>

                                <div class="container-fluid col-xs-12 col-sm-12  col-md-5 main col-lg-7">
                                    <div class="rightPart " th:style="${color}">
                                        <div class="letter"  >
                                            <p>?</p>
                                        </div>
                                        <div id="letterSelect" ></div>
                                        <div class="letterBlock"  >
                                            <div id="letterList" th:style="${color}"  >
                                                <div class="alphabet cyr" th:style="${color}" >
                                                    <a href="/reagents/search?keyword=А&searchType=alph&letter=а">а</a>
                                                    <a href="/reagents/search?keyword=Б&searchType=alph&letter=б">б</a>
                                                    <a href="/reagents/search?keyword=В&searchType=alph&letter=в">в</a>
                                                    <a href="/reagents/search?keyword=Г&searchType=alph&letter=г">г</a>
                                                    <a href="/reagents/search?keyword=Д&searchType=alph&letter=д">д</a>
                                                    <a href="/reagents/search?keyword=Е&searchType=alph&letter=е">е</a>
                                                    <a href="/reagents/search?keyword=Ж&searchType=alph&letter=ж">ж</a>
                                                    <a href="/reagents/search?keyword=З&searchType=alph&letter=з">з</a>
                                                    <a href="/reagents/search?keyword=И&searchType=alph&letter=и">и</a>
                                                    <a href="/reagents/search?keyword=К&searchType=alph&letter=к">к</a>
                                                    <a href="/reagents/search?keyword=Л&searchType=alph&letter=л">л</a>
                                                    <a href="/reagents/search?keyword=М&searchType=alph&letter=м">м</a>
                                                    <a href="/reagents/search?keyword=Н&searchType=alph&letter=н">н</a>
                                                    <a href="/reagents/search?keyword=О&searchType=alph&letter=о">о</a>
                                                    <a href="/reagents/search?keyword=П&searchType=alph&letter=п">п</a>
                                                    <a href="/reagents/search?keyword=Р&searchType=alph&letter=р">р</a>
                                                    <a href="/reagents/search?keyword=С&searchType=alph&letter=с">с</a>
                                                    <a href="/reagents/search?keyword=Т&searchType=alph&letter=т">т</a>
                                                    <a href="/reagents/search?keyword=У&searchType=alph&letter=у">у</a>
                                                    <a href="/reagents/search?keyword=Ф&searchType=alph&letter=ф">ф</a>
                                                    <a href="/reagents/search?keyword=Х&searchType=alph&letter=х">х</a>
                                                    <a href="/reagents/search?keyword=Ц&searchType=alph&letter=ц">ц</a>
                                                    <a href="/reagents/search?keyword=Ч&searchType=alph&letter=ч">ч</a>
                                                    <a href="/reagents/search?keyword=Ш&searchType=alph&letter=ш">ш</a>
                                                    <a href="/reagents/search?keyword=Щ&searchType=alph&letter=щ">щ</a>
                                                    <a href="/reagents/search?keyword=Э&searchType=alph&letter=э">э</a>
                                                    <a href="/reagents/search?keyword=Я&searchType=alph&letter=я">я</a>
                                                </div>
                                            </div>
                                            <div id="chooseLetter">Поиск по алфавиту</div>
                                        </div>
                                    </div></div>
                                </div>

                            </div>

                        <div class="row" >
                            <div class="container-fluid col-xs-12 col-sm-12  col-md-12 main col-lg-12">
                        <div id="rightSideBody" >
                            <div class="" >
                                <div class=" container-fluid text-primary " style="text-align: center;font:13px
                                Tahoma;">

                                    <div id="NewPaginationContainer" style="text-align: center"> </div>

                                    

                                </div>
                            </div>
                            <div class="pageScroll">
                                <a href="#" class="slider"></a>
                            </div>

                            <div class="fix"></div>
                            <div id="content">

                                <div class="qtty">всего <b th:text="${page.getRows()}"></b> элементов</div>

                                <ul class="searchList">

                                <table id="reagentTable">
                                    <thead >


                                    <tr class="tableHead">
                                        <th name="name" >Наименование</th>
                                    </tr>
                                    </thead>

                                    <tr th:each ="element: ${reagentList}">
                                        <td>
                                            <a th:href="@{/reagents/} + ${element.getId()}"
                                               th:text="${element.getName()}" style="color: black"></a>
                                            <p
                                                    th:text="${element.getSinonim()}+ ${element.getEngName()}+${element.getName()}" style="color: grey"></p>
                                        </td>
                                    </tr>


                                </table>

                                </ul>
                                </ul>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>





                    </div>

                </div>

            </div>

        </div>
    </div>

    <!-- конец тела -->


    <!-- Footer -->

    <div class="row ">
        <div id="basement">
            <a href="/" id="baseLogo"></a>
            <div class="emailLink">E-mail для связи:<br><b>info@russian-chemistry.ru</b></div>
        </div>
    </div>
    <!-- конец Footer -->
</div>




<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter46046490 = new Ya.Metrika({
                    id:46046490,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/46046490" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->



<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.16/cr-1.4.1/kt-2.3.2/r-2.2.0/rg-1.0.2/rr-1.2.3/sl-1.2.3/datatables.min.css"/>


<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.16/cr-1.4.1/kt-2.3.2/r-2.2.0/rg-1.0.2/rr-1.2.3/sl-1.2.3/datatables.min.js"></script>

<script>

    $(document).ready(function() {


        $('#reagentTable').DataTable( {



            language: {
                "processing": "Подождите...",
                "search": "Поиск:",
                "lengthMenu": "Показать _MENU_ записей",
                "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
                "infoEmpty": "Записи с 0 до 0 из 0 записей",
                "infoFiltered": "(отфильтровано из _MAX_ записей)",
                "infoPostFix": "",
                "loadingRecords": "Загрузка записей...",
                "zeroRecords": "Записи отсутствуют.",
                "emptyTable": "В таблице отсутствуют данные",
                "paginate": {
                    "first": "Первая",
                    "previous": "Предыдущая",
                    "next": "Следующая",
                    "last": "Последняя"
                },
                "aria": {
                    "sortAscending": ": активировать для сортировки столбца по возрастанию",
                    "sortDescending": ": активировать для сортировки столбца по убыванию"
                }
            }


        });



        var dataTable = $('#reagentTable').dataTable();
        $("#NewPaginationContainer").append($(".dataTables_paginate"));

        $("#searchbox").keyup(function() {
            dataTable.fnFilter(this.value);
        });
        $("#searchbox").on("", function() {
            dataTable.search(this.value).draw();
        });


    } );




</script>

<style>

    .dataTables_filter, .dataTables_info { display: none; }
</style>

</body>
</html>