<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:pages="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <meta charset="UTF-8">
    <link type="image/x-icon" href="/favicon.gif" rel="icon">
    <title>Реактивы</title>

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui-1.7.2.custom.css" type="text/css">

</head>



<body >


<div id="hat">
    <div id="menu">
        <div id="search">
            <form method="get" action="/reagents/search">
                Поиск:
                <input type="text" name="keyword"/><input id="find" type="submit" value="" /><br>
                <input class="radio" type="radio" name="searchType" th:checked="${name}" value="name" style="margin-left: 52px;">
                <label>по названию</label>
                <input class="radio" type="radio" th:checked="${cas}" value="cas" name="searchType">
                <label>по CAS</label>
            </form>

        </div>

        <b style="color: #bee3ff">info@russian-chemistry.ru</b>
        <a href="/"></a>

    </div>

</div>


<div id="monolite">
    <table id="body" cellpadding=0 cellspacing=0  >
            <td id="leftSide">
                <ul id="leftMenu">


                    <li th:each ="element: ${menu}">

                        <span th:utext="${element}" > </span>

                    </li>

                    </li>
                </ul>						<div style="margin-top:20px;width:140px;margin-left:23px;">


                <!--  <noindex> <p><a href="http://cosmochim.ru"><img src="/img/400x140r.gif" alt="" width="140" height="400" /></a></p>  </noindex>
                    -->

                  <br>
              </div>
              </td>


              <td id="rightSide" style="background-color: #ec8b00">


                  <br />
                  <div id="rightSideHat">
                      <div class="leftPart">
                          <p id="h1">Реактивы</p>
                      </div>
                      <div class="rightPart">
                          <div class="letter">
                              <p th:text="${letter}">?</p>
                          </div>
                          <div id="letterSelect"></div>
                          <div class="letterBlock">
                              <div id="letterList">
                                  <div class="alphabet cyr">
                                      <a href="/reagents/search?keyword=А&searchType=alph&letter=а">а</a>
                                      <a href="/reagents/search?keyword=Б&searchType=alph&letter=б">б</a>
                                      <a href="/reagents/search?keyword=В&searchType=alph&letter=в">в</a>
                                      <a href="/reagents/search?keyword=Г&searchType=alph&letter=г">г</a>
                                      <a href="/reagents/search?keyword=Д&searchType=alph&letter=д">д</a>
                                      <a href="/reagents/search?keyword=Е&searchType=alph&letter=е">е</a>
                                      <a href="/reagents/search?keyword=Ж&searchType=alph&letter=ж">ж</a>
                                      <a href="/reagents/search?keyword=З&searchType=alph&letter=з">з</a>
                                      <a href="/reagents/search?keyword=И&searchType=alph&letter=и">и</a>
                                      <a href="/reagents/search?keyword=К&searchType=alph&letter=к">к</a>
                                      <a href="/reagents/search?keyword=Л&searchType=alph&letter=л">л</a>
                                      <a href="/reagents/search?keyword=М&searchType=alph&letter=м">м</a>
                                      <a href="/reagents/search?keyword=Н&searchType=alph&letter=н">н</a>
                                      <a href="/reagents/search?keyword=О&searchType=alph&letter=о">о</a>
                                      <a href="/reagents/search?keyword=П&searchType=alph&letter=п">п</a>
                                      <a href="/reagents/search?keyword=Р&searchType=alph&letter=р">р</a>
                                      <a href="/reagents/search?keyword=С&searchType=alph&letter=с">с</a>
                                      <a href="/reagents/search?keyword=Т&searchType=alph&letter=т">т</a>
                                      <a href="/reagents/search?keyword=У&searchType=alph&letter=у">у</a>
                                      <a href="/reagents/search?keyword=Ф&searchType=alph&letter=ф">ф</a>
                                      <a href="/reagents/search?keyword=Х&searchType=alph&letter=х">х</a>
                                      <a href="/reagents/search?keyword=Ц&searchType=alph&letter=ц">ц</a>
                                      <a href="/reagents/search?keyword=Ч&searchType=alph&letter=ч">ч</a>
                                      <a href="/reagents/search?keyword=Ш&searchType=alph&letter=ш">ш</a>
                                      <a href="/reagents/search?keyword=Щ&searchType=alph&letter=щ">щ</a>
                                      <a href="/reagents/search?keyword=Э&searchType=alph&letter=э">э</a>
                                      <a href="/reagents/search?keyword=Я&searchType=alph&letter=я">я</a>
                                  </div>
                              </div>
                              <div id="chooseLetter">Поиск по алфавиту</div>
                          </div>
                      </div></div>

                  <div id="rightSideBody">

                      <div class="pageScroll">
                          <a href="#" class="slider"></a>
                      </div>

                      <div class="fix"></div>
                      <div id="content">

                          <div class="qtty">всего <b th:text="${page.getRows()}"></b> элементов</div>

                          <ul class="searchList">
                              <li>


                              <li th:each ="element: ${reagentList}">

                              <a th:href="@{/reagents/} + ${element.getId()}" th:text="${element.getName()}"></a>
                              <p th:text="${element.getSinonim()}+ ${element.getEngName()}+${element.getName()}"></p>


                          </li>




                          </ul>
                      </div>
                  </div>
              </td>
    </table>

  </div>
  <div id="basement">
      <a href="/" id="baseLogo"></a>
      <div class="emailLink">E-mail для связи:<br><b>info@russian-chemistry.ru</b></div>
      <div style='padding:0 0 10px 10px; opacity:0.5; filter:alpha(opacity=50);float:right;'>

      </div>

  </div>



  <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter46046490 = new Ya.Metrika({
                    id:46046490,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/46046490" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body >



</html>