

<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:pages="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">


    <link type="image/x-icon" href="/favicon.gif" rel="icon">
    <title>Пищевые добавки Е</title>
    <meta name="keywords" content="Пищевые добавки Е, красители, консерванты, антиоксиданты, стабилизаторы, эмульгаторы">
    <meta name="description" content="Полный список пищевых добавок, включающий красители, консерванты, антиоксиданты и.т.д. ">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui-1.7.2.custom.css" type="text/css">


</head>
<body>

<div id="hat">
    <div id="menu">
        <div id="search">
            <form method="get" action="/reagents/search">
                Поиск:
                <input type="text" name="keyword"/><input id="find" type="submit" value="" /><br>
                <input class="radio" type="radio" name="searchType" checked value="reactives" style="margin-left: 52px;"><label>по реактивам</label>
                <input class="radio" type="radio" value="drugs" name="searchType"><label>по лекарствам</label>

            </form>

        </div>


        <a href="/"></a>

    </div>


</div>



<div id="monolite">



    <table id="body" cellpadding=0 cellspacing=0>
        <tr>
            <td id="leftSide">
                <ul id="leftMenu">
                    <li>
                        <a class="opt1" href="/periodic">Таблица Менделеева</a>
                    </li>
                    <li>
                        <a class="opt2" href="/redaktor-formul">Редактор формул</a>
                    </li>
                    <li>
                        <a class="opt3" href="/reagents">Реактивы</a>
                    </li>
                    <li>
                        <a class="opt4" href="/medications">Лекарства</a>
                    </li>
                    <!--	<li>
                        <a class="opt8" href="/companys-catalog">Каталог компаний</a>
                    </li>-->
                    <li>
                        <a class="opt5 hover" href="/supplements">Пищевые добавки Е</a>
                    </li>

                    <li>
                        <a class="opt6" href="/prekursori">Прекурсоры</a>
                    </li>

                    <li>
                        <a class="opt9" href="/companys-catalog/">Каталог компаний</a>
                    </li>


                    <li>
                        <a class="opt7" href="/raznoe">Разное</a>
                    </li>
                </ul>						<div style="margin-top:20px;width:140px;margin-left:23px;">


                <noindex>  <p><a href="http://cosmochim.ru"><img src="/img/400x140r.gif" alt="" width="140" height="400" /></a></p> </noindex>








                <br>
            </div>
            </td>
            <td id="rightSide" style="background-color: #d03639">





                <div id="rightSideHat">




                    <div class="leftPart" style="width:100%;">
                        <p id="h1">
                            Пищевые добавки Е								</p>
                    </div>



                </div>


                <div id="rightSideBody">

                    <div class="fix"></div>
                    <div id="content">

                        Пищевые добавки — вещества, добавляемые в продукты питания для придания им желаемых свойств, например определённого аромата (ароматизаторы), цвета (красители), длительности хранения (консерванты), вкуса, консистенции.<br><br>
                        В предлагаемом Вашему вниманию перечне приведен полный список пищевых добавок Е.
                        Пищевые добавки сгруппированы по функциональным классам.
                        <br><br>
                        <p class="h2">Выберите раздел:</p>

                        <div class="foodAdditionsGroups">

                            <a href="/supplement/colors">Красители (Е-100 - Е-199)</a>
                            <a href="/supplement/conservant">Консерванты (Е-200 - Е-299)</a>
                            <a href="/antioksidanti">Антиоксиданты (Е-300 - Е-399)</a>
                            <a href="/stabilizatori">Стабилизаторы, эмульгаторы (Е-400 - Е-599)</a>
                            <a href="/usiliteli">Усилители вкуса и аромата(Е-600 - Е-699)</a>
                            <a href="/antiflamingi">Антифламинги (пеногасители, Е-900 - Е-999) и другие вещества</a>

                        </div>



                    </div>
                </div>
            </td>
        </tr>

    </table>
</div>
<div id="basement">
    <a href="/" id="baseLogo"></a>
    <div class="emailLink">E-mail для связи:<br><b>info.russian.chemistry@yandex.ru</b></div>
</div>




</body>
</html>